<div class="main-container">
    <label>Name:</label> &nbsp;&nbsp;&nbsp;
    <span>
        <input type="email" class="inputButton" id="name" autocomplete="off" placeholder="Enter name">
    </span><br>
    <label>Email:</label> &nbsp;&nbsp;&nbsp;
    <span>
        <input type="email" class="inputButton" id="email" autocomplete="off" placeholder="Enter email id">
    </span><br>
    <label>Password:</label> &nbsp;
    <span>
        <input type="password" class="inputButton" autocomplete="off" placeholder="Enter password">
    </span><br>
    <label>Phno:</label> &nbsp;
    <span>
        <input type="tel" class="inputButton"  autocomplete="off" id="phno" placeholder="Enter phone number">
    </span><br>
    <span>
        <button class="button" (click)="addStudent()">Login</button>
    </span>
</div>